.nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 50px;
  background-color: rgb(30, 157, 135);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.brand {
  color: white;
  height: 50px;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  padding-left: 1rem;
  padding-top: 0.6rem;
}
.brand:link {
  text-decoration: none;
  color: white;
}
.brand:visited {
  text-decoration: none;
  color: white;
}
.list {
  color: white;
  font-size: 1.2em;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
}
.button {
  height: 50px;
  padding: 13px 16px 13px 16px;
  background-color: rgb(48, 167, 147);
  color: white;
  margin-left: 8px;
}
.button:hover {
  background-color: rgb(37, 146, 128);
  transition: 0.2s;
  color: white;
}
.button:active {
  background-color: rgb(48, 167, 147);
  color: white;
}
.button:link {
  color: white;
  text-decoration: none;
}
.button:visited {
  text-decoration: none;
  color: white;
}
.logOutButton {
  font-size: 0.8ch;
  text-decoration: none;
  padding: 11px 16px 10px 16px;
  color: white;
  background-color: rgb(197, 121, 121);
  margin-left: 8px;
  border: 0px;
}
.logOutButton:hover {
  text-decoration: none;
  background-color: rgb(170, 88, 88);
  transition: 0.2s;
  color: white;
}
.logOutButton:active {
  text-decoration: none;
  background-color: rgb(197, 121, 121);
  color: white;
}
.logOutButton:link {
  color: white;
  text-decoration: none;
}
.logOutButton:visited {
  text-decoration: none;
  color: white;
}