#bold {
  font-weight: bold;
}

.categoryTitleBirth {
  background-color: rgb(247, 215, 107);
  padding: 6px;
  padding-left: 10px;
  margin-top: 7px;
  border-radius: 6px;
}
.categoryBodyBirth {
  background-color: rgb(238, 235, 207);
  padding: 6px;
  padding-left: 10px;
}
.categoryTitleCertif {
  background-color: rgb(122, 188, 225);
  padding: 6px;
  padding-left: 10px;
  border-radius: 6px;
  margin-top: 7px;
}
.categoryBodyCertif {
  background-color: rgb(202, 226, 239);
  padding: 6px;
  padding-left: 10px;
}
.categoryTitleTurnos {
  background-color: rgb(126, 222, 167);
  padding: 6px;
  padding-left: 10px;
  border-radius: 6px;
  margin-top: 7px;
}
.categoryBodyTurnos {
  background-color: rgb(189, 217, 201);
  padding: 6px;
  padding-left: 10px;
}

