#bold {
  font-weight: bold;
}

.categoryTitleBirth {
  background-color: rgb(247, 215, 107);
  padding: 6px;
  padding-left: 10px;
  margin-top: 7px;
  border-radius: 6px;
}
.alertsRow{
  background-color: rgb(238, 235, 207);
  max-width: 940px;
  height: 30px;
  padding-left: 6px;
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.alertsRowCertif{
  background-color: rgb(202, 226, 239);
  max-width: 940px;
  height: 30px;
  padding-left: 6px;
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.alertsRowTurnos{
  background-color: rgb(189, 217, 201);
  max-width: 940px;
  height: 30px;
  padding-left: 6px;
  padding-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.alertsColStart{
  width: 300px;
  display: flex;
  flex-direction: Col;
  justify-content: flex-start;
}
.alertsColTurnosStart{
  width: 400px;
  display: flex;
  flex-direction: Col;
  justify-content: flex-start;
}
.alertsColTurnos{
  width: 250px;
  display: flex;
  flex-direction: Col;
  justify-content: flex-start;
}
.alertsCol{
  width: 300px;
  display: flex;
  flex-direction: Col;
  justify-content: flex-start;
}
.alertsColEnd{
  width: 140px;
  padding-right: 8px;
  display: flex;
  flex-direction: Col;
  justify-content: flex-end;
}
.categoryTitleCertif {
  background-color: rgb(122, 188, 225);
  padding: 6px;
  padding-left: 10px;
  border-radius: 6px;
  margin-top: 7px;
}
.categoryTitleTurnos {
  background-color: rgb(126, 222, 167);
  padding: 6px;
  padding-left: 10px;
  border-radius: 6px;
  margin-top: 7px;
}
#loadingSpinner{
padding-top: 10px;
opacity: 60%;
}

