#bold{
  font-weight: bold;
}
.h2 {
  line-height:0.7em;
}
.newPersona_success {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.newPersona_success h5 {
  text-align: center;
}
